body {
  padding: 0;
  background-color: #e0e0e0;
}

.background-grey {
  background-color: #e0e0e0;
}

.custom-dialog {
  top: 15%;
}

/* Hover/Focus Pseudoclasses */

textarea:focus {
  outline: none !important;
  border-color: rgb(116, 49, 249);
  box-shadow: 0 0 5px 2px rgba(116, 49, 249, 0.39);
}

/* Font Styling */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-style: italic;
}
