body {
  padding: 0;
  background-color: #e0e0e0;
}

.background-grey {
  background-color: #e0e0e0;
}

.custom-dialog {
  top: 15%;
}

/* Hover/Focus Pseudoclasses */

textarea:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #0a69ce;
}

/* Font Styling */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-style: italic;
}
