body {
  padding: 0;
  background: linear-gradient(to top, rgba(255, 192, 203, 0.225), rgba(116, 49, 249, 0.193)) !important;
}

/* Tab Anchor Selectors */

.tab-anchor {
  color: inherit;
  display: block;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

/* Card Component Styling Selectors */

.study-header {
  background-color: rgb(178, 178, 178);
}

.custom-dialog {
  top: 15%;
}

.add-input {
  width: 100%;
  height: 12rem;
}

/* Transitions */

.rtng-circle {
  transition: transform 0.5s ease;
}

.rtng-circle:hover {
  transform: scale(1.2);
}

.rtng-button {
  transition: transform 0.5s ease;
}

.rtng-button:hover {
  transform: scale(1.1);
}

/* Font Styling */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-style: italic;
}
